
.formContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputsContent {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.actions {
    width: 75%;
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 25px 0;
}