.inputContent {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    gap: 10px;
    position: relative;
}

.text {
    font-size: 14px;
    color: #333;
}

.inputContent input {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0;
}