.container {
  padding: 20px;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.saleTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.saleTable th,
.saleTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.saleTable th {
  background-color: #f0f0f0;
}


.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    display: flex;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 90%;
    overflow-y: auto;
    max-width: 90%;
}
